.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db118e;
  padding: 10px 20px;
}

.movies-link {
  justify-content: center;
  font-size: 2em;
  color: white;
  text-decoration: none;
}

.navbar-links {
  font-size: 1.3rem;
  list-style: none;
  display: flex;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

.navbar-links a:hover {
  background-color: #43406e;
  border-radius: 4px;
}