.booking-details {
    border: 2px;
}

.booking-history {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cancel-booking {
    padding: 8px;
    margin-left: 20px;
    margin-right: 10px;
}

.back-to-movies {
    align-items: end;
    justify-content: center;
}

.history {
    font-size: 1.4rem;
}